openapi: "3.0.3"
info:
  title: Task Manager API
  description: REST API for the Task Manager application
  version: "1.0.0"
servers:
  - url: http://localdev.taskmanager.com/api/v1
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        avatar:
          type: string
          nullable: true
        created_at:
          type: string
        updated_at:
          type: string
    Task:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high]
        status:
          type: string
          enum: [pending, completed]
        due_date:
          type: string
          nullable: true
        created_at:
          type: string
        updated_at:
          type: string
    DashboardStats:
      type: object
      properties:
        total_tasks:
          type: integer
        completed_tasks:
          type: integer
        pending_tasks:
          type: integer
        overdue_tasks:
          type: integer
        completion_percent:
          type: integer
        upcoming_tasks:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
              priority:
                type: string
              due_date:
                type: string
    Comment:
      type: object
      properties:
        id:
          type: integer
        task_id:
          type: integer
        user_id:
          type: integer
        user_name:
          type: string
        user_avatar:
          type: string
          nullable: true
        comment:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        errors:
          type: object

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, password_confirmation]
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
      responses:
        "201":
          description: Registration successful
        "422":
          description: Validation failed
        "409":
          description: Email already registered

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful
        "401":
          description: Invalid credentials
        "422":
          description: Validation failed

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Logged out

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Token refreshed
        "401":
          description: Invalid refresh token

  /tasks:
    get:
      tags: [Tasks]
      summary: List user tasks
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: priority
          schema:
            type: string
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: sort
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: from
          schema:
            type: string
        - in: query
          name: to
          schema:
            type: string
      responses:
        "200":
          description: Task list
    post:
      tags: [Tasks]
      summary: Create a task
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: string
                due_date:
                  type: string
      responses:
        "201":
          description: Task created
        "422":
          description: Validation failed

  /tasks/{id}:
    get:
      tags: [Tasks]
      summary: Get task details
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Task detail
        "404":
          description: Not found
    put:
      tags: [Tasks]
      summary: Update a task
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Task updated
        "404":
          description: Not found
        "422":
          description: Validation failed
    delete:
      tags: [Tasks]
      summary: Delete a task
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Task deleted
        "404":
          description: Not found

  /tasks/{id}/complete:
    patch:
      tags: [Tasks]
      summary: Mark task as completed
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Task completed
        "404":
          description: Not found

  /tasks/{id}/comments:
    get:
      tags: [Tasks]
      summary: List task comments
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Comment list
        "404":
          description: Task not found
    post:
      tags: [Tasks]
      summary: Add a comment to a task
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment:
                  type: string
      responses:
        "201":
          description: Comment created
        "422":
          description: Validation failed

  /tasks/{id}/comments/{cid}:
    put:
      tags: [Tasks]
      summary: Update a comment
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: path
          name: cid
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment:
                  type: string
      responses:
        "200":
          description: Comment updated
        "404":
          description: Not found
    delete:
      tags: [Tasks]
      summary: Delete a comment
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: path
          name: cid
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Comment deleted
        "404":
          description: Not found

  /profile:
    get:
      tags: [Profile]
      summary: Get user profile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User profile
    put:
      tags: [Profile]
      summary: Update profile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email]
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        "200":
          description: Profile updated
        "422":
          description: Validation failed

  /dashboard/stats:
    get:
      tags: [Dashboard]
      summary: Get dashboard statistics
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Dashboard statistics
